.chalkboard {
  margin: 30px 15px;
  height: 50vh;
  border: 8px solid rgb(173, 129, 74);
  border-radius: 8px;
  background: rgb(84, 120, 92);
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mathProblem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  background: rgb(84, 120, 92);
  color: #fff;
  font-family: "Happy Monkey";
  font-size: 2rem;
  text-align: center;
  width: 3rem;
  height: 3.5rem;
}

.result {
  margin: 10px;
  text-align: center;
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 54px;
  width: 150px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
